//- resume item (i.e. a school, job, etc.)
//-   takes an object that has any of the optional properties `title`, `place`, `position`, `date`, `desc`
mixin renderResumeItem(item)
  include linkBadge
  fullSpan  = "span12"
  leftSpan  = "span8"
  rightSpan = "span4"

  hasTitle    = item.hasOwnProperty('title')
  hasLabel    = item.hasOwnProperty('label')
  hasSubtitle = item.hasOwnProperty('subtitle')
  hasDate     = item.hasOwnProperty('date')
  hasPlace    = item.hasOwnProperty('place')
  hasDesc     = item.hasOwnProperty('desc')

  .resume-item(id=item.id)
    //- title-row
    if(hasTitle)
      if (hasPlace)
        .row.title-row
          div(class=leftSpan)
            h4.title!= item.title
              if(hasLabel)
                span.label.label-info.hidden-phone.pull-right!= item.label
          div(class=rightSpan)
            h4.pull-right.hidden-phone.place!= item.place
          .visible-phone.row.place-row
            div(class=fullSpan)!= item.place
      else if (hasDate && !(hasSubtitle))
        .row.title-row
          div(class=leftSpan)
            h4.title!= item.title
              if(hasLabel)
                span.label.label-info.hidden-phone.pull-right!= item.label
          div(class=rightSpan)
            span.hidden-phone.pull-right.date!= item.date
            span.visible-phone.label.date!= item.date
      else
        .row.title-row
          div(class=fullSpan)
            h4.title!= item.title
              if(hasLabel)
                span.label.label-info.hidden-phone.pull-right!= item.label
    if (hasLabel)
      div(class=fullSpan)
        span.visible-phone.label.label-info!= item.label
    //- subtitle-row
    if (hasSubtitle)
      if (hasPlace && hasDate)
        .row.subtitle-row
          div(class=leftSpan)
            span.subtitle!= item.subtitle
          div(class=rightSpan)
            span.hidden-phone.pull-right.date!= item.date
            span.visible-phone.label.date!= item.date
      else if (hasDate)
        .row.subtitle-row
          div(class=leftSpan)
            span.subtitle!= item.subtitle
          div(class=rightSpan)
            span.hidden-phone.pull-right.date!= item.date
            span.visible-phone.label.date!= item.date
      else
        .row.subtitle-row
          span.subtitle(class=fullSpan)!= item.subtitle
    //- desc-row
    if (hasDesc)
      if (hasDate && !(hasSubtitle) && !(hasTitle))
        .row.desc-row.visible-phone
          span.visible-phone.label.date!= item.date
          div(class=fullSpan)!= item.desc
        .row.desc-row.hidden-phone
          div(class=leftSpan)!= item.desc
          div(class=rightSpan)
            span.hidden-phone.pull-right.date!= item.date
      else
        .row.desc-row
          div(class=fullSpan)!= item.desc
